<div class="index-left-nav @@class">
  <ul class="nav-list">
    <div class="list-group list-group1">
      <li class="nav-list-item @@classa1">
        <a href="./index.html">诊断信息</a>
      </li>
      <li class="nav-list-item @@classa3">
        <a href="./about.html">关于我们</a>
      </li>
    </div>
    <div class="list-group list-group2">
      <li class="nav-list-item @@classa3">
        <a href="##">用户设置</a>
      </li>
      <li class="nav-list-item  @@classa4">
        <a href="##">新建用户</a>
      </li>
    </div>
    <div class="list-group list-group3">
      <li class="nav-list-item @@classa5">
        <a href="./alarmISetting.html">报警设置</a>
      </li>
      <li class="nav-list-item @@classa6">
        <a href="./alarmInformation.html">报警历史</a>
      </li>
    </div>
  </ul>
</div>