<div class="text-right clearfix page-box @@pageClass">
  <ul class="pagination">
    <li class="previous" id="@@idName-previous">
      <a href="#">
        <span aria-hidden="true">&larr;</span>上一页</a>
    </li>
    <li class="next" id="@@idName-next">
      <a href="#">下一页
        <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
    <li class="">
      <span id="current-num">当前页：-</span>
    </li>
    <li class="">
      <span id="all-page">总页数：-</span>
    </li>
    <li class="">
      <span class="span-input">
        <input class="" type="text" id="go-to-pageN" placeholder="1">
      </span>
    </li>
    <li class="">
      <a href="#" id="@@idName-go-to-page-search">查询</a>
    </li>
  </ul>
</div>