<div class="search-box">
  <label for="search-date-input" class="col-md-2 control-label data-control-label">按设备名称查询：</label>
  <div class="input-group date col-md-4">
    <!-- <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span> -->
    <input class="form-control input-sm" id="@@search-btn-input-id" size="12" type="text" placeholder="请输入设备名称">
    <!-- <span class="input-group-addon">
      <span class="glyphicon glyphicon-remove"></span>
    </span> -->
    <span class="input-group-addon" id="@@search-btn-id">
      <span class="glyphicon glyphicon-search"></span>
    </span>
  </div>
  <input type="hidden" id="search-date-input" value="" />
</div>