<div class="index-left-nav @@class">
  <ul class="nav-list">
    <div class="list-group list-group1">
      <li class="nav-list-item @@classa1">
        <a href="./index.html">GIS 设备</a>
      </li>
      <li class="nav-list-item @@classa2">
        <a href="./realTimeMonitoring.html">实时监控</a>
      </li>
      <li class="nav-list-item @@classa2">
        <a href="./searchData.html">数据查询</a>
      </li>
      <li class="nav-list-item @@classa3">
        <a href="./deviceManagement.html">设备管理</a>
      </li>
      <li class="nav-list-item @@classa4">
        <a href="./statistical.html">统计分析</a>
      </li>
      <li class="nav-list-item @@classa5">
        <a href="./historicalAlarm.html">历史报警</a>
      </li>
    </div>
  </ul>
</div>